.header {
  height:110px;
  border-bottom: solid 1px #c0c0c0;
  background-color:#777777;
}
.header .logo {
  height: 110px;
  font-size:2em;
  font-weight:bold;
  margin-left:30px;
  margin-top: 10px;
  position:absolute;
}

.header .logo img {
  height:90px;
}

.menu {
  margin-top:110px;
  padding-left:50px;
  padding-top:5px;
  padding-bottom: 5px;
  margin-left:0px;
  position:absolute;
  border-top: solid 1px #c0c0c0;
  background-color: #c0c0c0;
  width:100%;
}

.body {
  height:600px;
  border-bottom: solid 1px #c0c0c0;
  padding:20px;
}
.footer {
  padding:20px;
  height:100px;
}


