

.row {
  clear:both;
}

.label, .textbox {
  float:left;
  width:150px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:5px;
  border-top:solid 1px #808080;
}


.textbox {
  width:250px;
  background-color:#c8c8c8;
}

.desc {
  width:200px;
  height:150px;
}

.floatLeft {
  float:left;
}

.percent30 {
  width:30%;
}

.percent60 {
  width:30%;
}

.pointer {
  cursor:pointer;
}

input, textarea, td {
  padding:5px;
}

button {
  padding:5px;
  width:100px;
  height:40px;
  cursor:pointer;
}

.big {
  width:120px;
  height:60px;
}

.text500 {
  width:500px;
}

.top10 {
  margin-top:10px;
}

.tableData {
  width:1000px;
}
.tableData th {
  text-align:left;
}

.tableData .editColumn {
  width:110px;
}

.tableData .description {
  width:500px;
}

.tableData .title {
  width: 200;
}

